/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Inclusive Sans", sans-serif;
} */

.chat-container{
  width:100%;
  height:100vh;
  background:#E5F3ED;
  display:flex;
  flex-direction:column;
}


/* ================= NAVBAR ================== */
.chat-header{
  height:60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
  background:white;
  border-bottom:1px solid #d9ece3;
}

.logo-area-chat{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:bold;
  font-size:20px;
}

.logo-png-chat{
  width: 80px;
    height: 50px;
    margin-top: 15%;
}
.container-texto{
    font-size: 16px;
    color: #6BAF96;
}
.logo-area-chat img{ width:32px; }

.btn-enter{
  background:#4EA58C;
  border:none;
  padding:6px 16px;
  border-radius:6px;
  cursor:pointer;
  color:white;
}

/* ================= CHAT CORE ================== */
.chat-box{
  flex:1;
  background-color: #FFFF;
  width:1440px;
  height: 40px;
  margin:18px auto;
  border-radius:12px;
  padding:25px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:18px;
}

/* Mensagens */
.message{
  max-width:60%;
  padding:12px 18px;
  border-radius:10px;
  color:#2c4a3f;
  border:1px solid #A9D7C4;
}

.sent{
  align-self:flex-end;
  background:#A4D6C0;
}

.received{
  align-self:flex-start;
  background:white;
}

/* ================= INPUT AREA ================== */
.chat-input-area{
  width:90%;
  margin:0 auto;
  background:white;
  border:1px solid #A9D7C4;
  border-radius:12px;
  padding:8px 12px;
  display:flex;
  gap:10px;
  align-items:center;
}

.chat-input-area input{
  flex:1;
  border:none;
  outline:none;
  background:transparent;
  font-size:15px;
}

.send-button{
  width:35px;
  height:35px;
  border:none;
  background:#A4D6C0;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.emoji-btn img,
.send-btn img{width:22px;}

/* ================= FOOTER CARDS ================== */
.help-box{
  width:90%;
  margin:20px auto 30px;
  display:flex;
  gap:20px;
}

.card{
  flex:1;
  background:white;
  width: 400px;
  height: 250px;
  border-radius:10px;
  border:1px solid #C4E7DA;
}

.card h4{
  margin-bottom: 18px;
  font-weight:600;
  color: #6BAF96;
  margin-top: 5px;
  margin-left: 5px;
}

.card p{
    color: #6BAF96;
    margin-left: 5px;
}

/* Emoji */
.emoji-btn{
  background:#A4D6C0;
  border:none;
  width:36px;
  height:36px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:8px;
  cursor:pointer;
  font-size:20px;
}

.emoji-container{
  position:absolute;
  bottom:70px;
  left:50%;
  transform:translateX(-50%);
  z-index:10;
}